/* about css */
/* about area style  */
.about-area-inner {
    display: grid;
    grid-template-columns: 1fr 412px;
    gap: 40px 63px;

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}


.about-content {
    .title-wrapper {
        margin-top: 11px;
    }

    .content-wrapper {
        margin-top: 37px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 40px 66px;

        @media #{$lg} {
            grid-template-columns: 1fr;
        }
    }
}

.about-thumb {
    margin-top: 3px;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    width: max-content;

    img {
        max-width: 347px;
        aspect-ratio: 100/114;
        object-fit: cover;
        border-radius: 10px;

    }

    .thumb-border {
        position: absolute;
        content: "";
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: 1px solid #FA5E07;
        top: 0;
        left: 0;
        border-radius: 10px;
        z-index: -1;
    }
}


.about-info {
    .bold-text-box {
        margin-top: 32px;
        background-color: var(--smoke);
        padding: 17px 25px 10px 30px;
        position: relative;

        &:before {
            width: 5px;
            height: calc(100% - 37px);
            background-color: var(--theme);
            content: "";
            position: absolute;
            left: 0;
            top: 20px;
            border-radius: 2px;
        }

        .bold-text {
            font-size: 18px;
            line-height: 30px;
            text-transform: capitalize;
            color: var(--primary);
        }
    }

    .feature-list {
        margin-top: 33px;

        li {
            display: flex;
            gap: 10px;
            list-style: none;

            &:not(:first-child) {
                margin-top: 5px;
            }

            .icon {
                position: relative;
                display: inline-block;
                width: 12px;
                height: 12px;
                overflow: hidden;
                margin-top: 6px;

                &:before {
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-color: var(--theme);
                    position: absolute;
                    top: 0;
                    left: -50%;
                    border-radius: 50%;
                }

                &:after {
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-color: var(--theme);
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
                }

            }
        }
    }

    .btn-wrapper {
        margin-top: 33px;
        display: flex;
        align-items: start;
        gap: 25px;
    }
}

.about-experience {
    margin-top: 70px;
    position: relative;

    @media #{$md} {
        margin-top: 0;
    }
}

.experience-thumb {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    padding-bottom: 20px;

    img {
        width: 100%;
        aspect-ratio: 100/128;
        object-fit: cover;
        border-radius: 10px;

    }

    .thumb-border {
        position: absolute;
        content: "";
        width: calc(100% - 20px);
        height: calc(100% - 80px);
        border: 1px solid #FA5E07;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        z-index: -1;
    }
}

.experience-text-box-wrapper {
    position: absolute;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: var(--white);
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 1;

    &:before {
        width: 30px;
        height: 30px;
        content: "";
        background-color: transparent;
        border-radius: 50%;
        top: 0;
        left: 100%;
        position: absolute;
        z-index: 4;
        box-shadow: -15px -15px 0px white;
    }

    &:after {
        width: 30px;
        height: 30px;
        content: "";
        background-color: transparent;
        border-radius: 50%;
        top: 100%;
        left: 0;
        position: absolute;
        z-index: 4;
        box-shadow: -15px -15px 0px white;
    }
}

.experience-text-box {
    text-align: center;
    background-color: var(--theme);
    width: 144px;
    border-radius: 10px;
    padding: 21px 15px 25px;

    .year {
        font-family: var(--font_unbounded);
        font-weight: 700;
        font-size: 47px;
        line-height: 1.21;
        text-transform: capitalize;
        color: var(--white);
    }

    .text {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--white);
    }

}

/* about-2 area style  */
.about-2-inner {
    display: grid;
    grid-template-columns: 57% 1fr;

    @media #{$lg} {
        grid-template-columns: 50% 1fr;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }

}

.about-2-thumb {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


.about-2-content-wrapper {
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-2-content {
    padding: 32px 40px;

    @media #{$sm} {
        padding: 17px 20px;

    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        max-width: 630px;
    }

    .btn-wrapper {
        margin-top: 33px;
    }

    .ui-btn {
        background-color: var(--black);
        border-color: transparent;
    }

}