/* blog css */
/* blog area style  */
.blog-area {
    position: relative;
    z-index: 1;
}

.blog-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--smoke);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blog-header {
    text-align: center;

    .section-subtitle {
        justify-content: center;
    }

    .title-wrapper {
        margin-top: 11px;
    }


}

.blogs-wrapper-box {
    margin-top: 50px;
}

.blogs-wrapper {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.blog {
    background-color: var(--white);

    .thumb {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .date {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        display: inline-block;
        position: absolute;
        bottom: -1px;
        left: 41px;
        color: var(--white);
        padding: 7px 50px;
        background-color: var(--white);
        clip-path: polygon(40px 0, calc(100% - 40px) 0, 100% 100%, 0 100%);

        @media #{$lg} {
            left: 15px;
        }

        &:before {
            position: absolute;
            width: calc(100% - 32px);
            height: calc(100% - 14px);
            background-color: var(--theme);
            content: "";
            top: 7px;
            left: 16px;
            z-index: -1;
            clip-path: polygon(26px 0, calc(100% - 26px) 0, 100% 100%, 0 100%);
        }
    }

    .content {
        padding: 25px 30px 30px;

        @media #{$lg} {
            padding: 10px 15px 15px;
        }
    }

    .meta {
        display: flex;
        gap: 5px 20px;
        flex-wrap: wrap;
    }

    .author {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #737373;
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

        i {
            color: var(--theme);
        }
    }

    .comment {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #737373;
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

        i {
            color: var(--theme);
        }
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
        text-transform: capitalize;
        margin-top: 18px;

        @media #{$xxl} {
            font-size: 22px;
        }

        @media #{$lg} {
            font-size: 18px;
        }
    }

    .btn-wrapper {
        margin-top: 23px;
    }
}

/* blog-details area style  */
.blog-details-area-inner {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 420px;

    @media #{$lg} {
        grid-template-columns: 1fr 370px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}


.blog-details {
    .thumb {
        border-radius: 30px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .category {
        font-family: var(--font_unbounded);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-transform: capitalize;
        color: var(--white);
        display: inline-block;
        background-color: var(--theme);
        border-radius: 30px;
        padding: 19px 30px;
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .meta {
        display: flex;
        gap: 5px 85px;
        flex-wrap: wrap;
        position: absolute;
        bottom: 30px;
        margin: 0 80px;
        background-color: var(--theme);
        padding: 17px 40px;
        border-radius: 30px;
        max-width: 100%;
    }

    .date {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

    }

    .comment {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

    }

    .view {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

    }

    .content {
        margin-top: 50px;
    }

    .blog-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 1.14;
        text-transform: capitalize;

        @media #{$xxl} {
            font-size: 45px;
        }

        @media #{$xl} {
            font-size: 40px;
        }

        @media #{$lg} {
            font-size: 36px;
        }

        @media #{$md} {
            font-size: 34px;
        }

        @media #{$sm} {
            font-size: 32px;
        }

        @media #{$xs} {
            font-size: 28px;
        }
    }

    .title-line {
        display: flex;
        gap: 5px;
        overflow: hidden;

        span {
            width: 40px;
            height: 4px;
            background-color: var(--theme);
            display: inline-block;
            transform: skewX(45deg);

            @media #{$sm} {
                height: 3px;

            }

            &:nth-child(1) {
                margin-left: -4px;
            }

            &:nth-child(2) {
                width: 16px;
            }
        }
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    .feature-list {
        li {
            list-style: none;
            display: flex;
            gap: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;

            &:not(:first-child) {
                margin-top: 12px;
            }

            .icon {
                width: 18px;
                min-width: 18px;
                height: 18px;
                background-color: var(--theme);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--white);
                font-size: 10px;
                margin-top: 3px;
            }
        }

        &.column-2 {
            column-count: 2;

            @media #{$lg} {
                column-count: auto;
            }
        }
    }

    .video-wrapper {
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }


    .author-blockquote {
        position: relative;
        background-color: var(--smoke);
        border-radius: 20px;
        padding: 32px 40px 35px;
        z-index: 1;

        &:before {
            width: 4px;
            height: calc(100% - 60px);
            background-color: var(--theme);
            content: "";
            position: absolute;
            left: 0;
            top: 30px;
            border-radius: 2px;
        }

        .text {
            font-family: var(--font_unbounded);
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            text-transform: capitalize;
            color: var(--secondary);
        }

        .name {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            text-transform: capitalize;
            color: var(--secondary);
            display: flex;
            align-items: center;
            gap: 10px;

            &:before {
                width: 20px;
                height: 4px;
                background: var(--theme);
                border-radius: 2px;
                content: "";
                display: inline-block;
            }
        }

        .author {
            margin-top: 16px;
        }

        .quote-icon {
            position: absolute;
            right: 30px;
            bottom: 30px;
            z-index: -1;
        }
    }




    .gallery-wrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;

        @media #{$xxl} {
            gap: 20px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        img {
            border-radius: 20px;
            width: 100%;
        }

    }

    .blog-title-2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.28;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 30px;
        }

        @media #{$sm} {
            font-size: 24px;
        }
    }

    .tags-wrapper-box {
        display: grid;
        gap: 20px 40px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        border-top: 1px solid var(--theme);
        border-bottom: 1px solid var(--theme);
        margin-top: 53px;
    }

    .tags-wrapper {
        display: flex;
        gap: 32px;
        align-items: center;

        .title {
            font-family: var(--font_unbounded);
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            text-transform: capitalize;
            color: var(--primary);
        }

        .tags {
            display: flex;
            gap: 23px;
        }

        .tag {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
    }





    .social-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;

        .blog-social {
            display: flex;
            gap: 10px;

            a {
                width: 40px;
                height: 40px;
                background-color: var(--theme);
                border-radius: 50%;
                color: var(--white);
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: var(--black);
                }
            }
        }
    }



    .blog-title+.text-wrapper {
        margin-top: 22px;
    }

    .text-wrapper+.blog-title {
        margin-top: 33px;
    }

    .text-wrapper+.feature-list {
        margin-top: 24px;
    }

    .text-wrapper+.author-blockquote {
        margin-top: 33px;
    }

    .author-blockquote+.text-wrapper {
        margin-top: 32px;
    }

    .feature-list+.video-wrapper {
        margin-top: 36px;
    }

    .video-wrapper+.text-wrapper {
        margin-top: 32px;
    }

    .text-wrapper+.gallery-wrapper {
        margin-top: 33px;
    }

    .text-wrapper+.tags-wrapper-box {
        margin-top: 53px;

    }

    .gallery-wrapper+.text-wrapper {
        margin-top: 32px;
    }

    .blog-title-2+.title-line {
        margin-top: 11px;
    }

    .tags-wrapper-box+.blog-title-2 {
        margin-top: 60px;
    }

    .comments-wrapper+.blog-title-2 {
        margin-top: 70px;
    }



    .comments-wrapper {
        margin-top: 40px;
    }

    .comment-box {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        background-color: var(--smoke);
        border-radius: 20px;
        padding: 30px 30px;

        @media #{$xs} {
            flex-direction: column;
            padding: 15px 15px;

        }

        &:not(:first-child) {
            margin-top: 30px;
        }


        &.replied {
            margin-left: 113px;

            @media #{$lg} {
                margin-left: 30px;
            }
        }

        .thumb {
            width: 130px;
            min-width: 130px;
            height: 130px;
            border-radius: 20px;
            overflow: hidden;

            @media #{$lg} {
                width: 60px;
                min-width: 60px;
                height: 60px;
            }
        }

        .content {
            position: relative;
            margin-top: 6px;
        }

        .reply-btn {
            font-family: var(--font_unbounded);
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            display: inline-flex;
            top: -10px;
            right: 0px;
            color: var(--secondary);
            padding: 9px 30px;
            position: absolute;
            background-color: transparent;
            border-radius: 20px;

            &:hover {
                background-color: var(--theme);
                color: var(--white);
            }


        }

        .date {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: var(--secondary);

            i {
                color: var(--theme);
            }
        }

        .name {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            margin-top: 13px;
        }

        .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            margin-top: 6px;
        }
    }

    .blog-contact-wrap {
        margin-top: 39px;

        .submit-btn {
            margin-top: 27px;
        }
    }

    .contact-formwrap {
        display: grid;
        gap: 20px 30px;
        grid-template-columns: repeat(2, 1fr);

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);

        }

        .span-2 {
            grid-column: span 2;

            @media #{$sm} {
                grid-column: auto;
            }
        }

    }

    .contact-formfield {
        background-color: var(--smoke);

        input {
            width: 100%;
            border: none;
            outline: none;
            color: var(--black);
            transition: all 0.5s;
            background: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            height: 60px;
            padding: 0 30px;
            border-radius: 6px;

            &:focus {
                background-color: none;
            }

            &::placeholder {
                color: var(--secondary);
            }

        }

        textarea {
            width: 100%;
            height: 150px;
            border: none;
            outline: none;
            color: var(--black);
            transition: all 0.5s;
            background: none;
            resize: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            padding: 15px 30px;
            border-radius: 6px;



            &:focus {
                background-color: none;
            }

            &::placeholder {
                color: var(--secondary);
            }

        }




    }



    .save-inputs {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 17px;
    }

    .save-inputs input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid var(--theme);
        border-radius: 4px;
        background-color: transparent;

    }

    .save-inputs:hover input~.checkmark {
        background-color: var(--smoke);
    }

    .save-inputs input:checked~.checkmark {
        background-color: var(--theme);
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .save-inputs input:checked~.checkmark:after {
        display: block;
    }

    .save-inputs .checkmark:after {
        left: 6px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.blog-sidebar-wrapper {
    display: grid;
    gap: 30px;
}