/* blog css */
/* blog area style  */
.blog-area {
    position: relative;
    z-index: 1;
}

.blog-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--smoke);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blog-header {
    text-align: center;

    .section-subtitle {
        justify-content: center;
    }

    .title-wrapper {
        margin-top: 11px;
    }


}

.blogs-wrapper-box {
    margin-top: 50px;
}

.blogs-wrapper {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.blog {
    background-color: var(--white);

    .thumb {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .date {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        display: inline-block;
        position: absolute;
        bottom: -1px;
        left: 41px;
        color: var(--white);
        padding: 7px 50px;
        background-color: var(--white);
        clip-path: polygon(40px 0, calc(100% - 40px) 0, 100% 100%, 0 100%);

        @media #{$lg} {
            left: 15px;
        }

        &:before {
            position: absolute;
            width: calc(100% - 32px);
            height: calc(100% - 14px);
            background-color: var(--theme);
            content: "";
            top: 7px;
            left: 16px;
            z-index: -1;
            clip-path: polygon(26px 0, calc(100% - 26px) 0, 100% 100%, 0 100%);
        }
    }

    .content {
        padding: 25px 30px 30px;

        @media #{$lg} {
            padding: 10px 15px 15px;
        }
    }

    .meta {
        display: flex;
        gap: 5px 20px;
        flex-wrap: wrap;
    }

    .author {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #737373;
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

        i {
            color: var(--theme);
        }
    }

    .comment {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #737373;
        display: inline-flex;
        gap: 10px;
        align-items: center;

        @media #{$lg} {
            font-size: 14px;
        }

        i {
            color: var(--theme);
        }
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
        text-transform: capitalize;
        margin-top: 18px;

        @media #{$xxl} {
            font-size: 22px;
        }

        @media #{$lg} {
            font-size: 18px;
        }
    }

    .btn-wrapper {
        margin-top: 23px;
    }
}