/* brand css */
/* brand area style  */
.brand-area {
    position: relative;
    z-index: 1;
}

.brand-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background-color: var(--smoke);
        opacity: 0.9;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.brand-area-inner {
    padding-top: 80px;
    padding-bottom: 80px;
}

.brand-header {
    .section-subtitle {
        color: var(--primary);
        justify-content: center;

        @media #{$xs} {
            line-height: 1.33;
        }
    }

    .subtitle-line-first {
        width: 100%;
        background-color: var(--border);
        height: 1px;
    }

    .subtitle-line-last {
        width: 100%;
        background-color: var(--border);
        height: 1px;
    }
}

.brands-wrapper-box {
    margin-top: 40px;
}



.brand-slider-active {
    margin: -40px 0;
    padding: 40px 0;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.brand-box {
    border: 1px solid var(--border);
    border-radius: 60px;
    width: 234px;
    height: 90px;
    background-color: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    @media #{$lg} {
        width: 198px;
        height: 70px;
    }

    &:hover {
        border-color: transparent;
        box-shadow: 0px 11px 38px 0px rgba(25, 14, 50, 0.17);
    }
}