/* contact css */
/* contact-info area style  */
.contact-info-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(1, 1fr);

    }

}

.contact-info-box {
    background-color: var(--smoke);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 33px 30px 33px;

    @media #{$lg} {
        padding: 23px 20px 23px;
    }

    .icon {
        width: 80px;
        height: 80px;
        border: 2px solid var(--theme);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        right: 30px;
        top: 30px;
        background-color: var(--white);
        padding: 12px;


        @media #{$lg} {
            width: 60px;
            height: 60px;
            right: 20px;
            top: 20px;
        }
    }

    .icon-shape {
        position: absolute;
        bottom: -20px;
        right: 82px;
    }

    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33;
        text-transform: capitalize;
        margin-right: 80px;

        @media #{$lg} {
            font-size: 20px;
        }
    }

    .contact-list {
        margin-top: 26px;

        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            list-style: none;
        }
    }

    &.info-bg-2 {
        background-color: var(--theme);

        .icon {
            background-color: var(--black);
            border-color: transparent;
        }

        .title {
            color: var(--white);
        }

        .contact-list {
            li {
                color: var(--white);
            }
        }
    }

    &.info-bg-3 {
        background-color: #F1F1F1;
    }
}

/* contact-map area style  */
.contact-map-area {
    margin-top: -120px;
}

.contact-map-box {
    iframe {
        width: 100%;
        aspect-ratio: 100/38;
        min-height: 300px;
    }
}

/* contact area style  */
.contact-form-wrapper {
    background-color: var(--smoke);
    padding: 100px 80px;
    border-radius: 20px;
    position: relative;
    z-index: 1;

    @media #{$lg} {
        padding: 60px 40px;
    }

    @media #{$sm} {
        padding: 40px 20px;
    }

    .section-title-wrapper {
        text-align: center;
    }

    .contact-subtitle {
        padding: 10px 20px;
        background-color: var(--black);
        border-radius: 10px;
        display: inline-flex;
        gap: 8px;

        .text {
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: var(--white);
        }
    }

    .title-wrapper {
        margin-top: 21px;
    }
}




.main-contact-wrap {
    margin-top: 46px;

    .contact-formwrap {
        display: grid;
        gap: 20px 30px;
        grid-template-columns: repeat(2, 1fr);

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);

        }

        .span-2 {
            grid-column: span 2;

            @media #{$sm} {
                grid-column: auto;
            }
        }

    }

    .contact-formfield {

        input {
            width: 100%;
            outline: none;
            color: var(--black);
            transition: all 0.5s;
            background: var(--white);
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            height: 60px;
            padding: 0 30px;
            border-radius: 6px;
            border: 1px solid transparent;

            &:focus {
                border-color: var(--theme);
            }

            &::placeholder {
                color: var(--secondary);
            }

        }

        textarea {
            width: 100%;
            height: 140px;
            border: none;
            outline: none;
            color: var(--black);
            transition: all 0.5s;
            background: var(--white);

            resize: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            padding: 15px 30px;
            border-radius: 6px;
            border: 1px solid transparent;



            &:focus {
                border-color: var(--theme);
            }

            &::placeholder {
                color: var(--secondary);
            }

        }

        select {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            color: var(--secondary);
            transition: all 0.5s;
            background: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--border);


            &:focus {
                background-color: none;
            }

            &::placeholder {
                color: var(--secondary);
            }

        }

        .nice-select {
            height: 60px;
            width: 100%;
            padding: 17px 0;
            border: 0;
            background: var(--white);
            border-radius: 6px;


            .current {
                height: 60px;
                display: block;
                color: var(--secondary);
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                padding: 0 30px;
            }

            .option {
                height: 40px;
                line-height: 40px;
                display: block;
                color: var(--black);
                font-weight: 500;
                font-size: 16px;
            }

            &:after {
                display: none;
            }
        }


    }

    .submit-btn {
        margin-top: 32px;
        text-align: center;
    }

}