/* counter css */
/* counter area style  */
.counter-area {
    position: relative;
    z-index: 1;
}

.counter-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--theme);
        top: 0;
        left: 0;
        opacity: 0.9;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.counter-area-inner {
    padding-top: 60px;
    padding-bottom: 60px;
}

.counter-wrapper {
    display: grid;
    gap: 40px 46px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$lg} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.counter-box {
    position: relative;
    padding-left: 50px;

    &:hover {
        .icon {
            background-color: var(--black);
        }

        .content {
            background-color: var(--black);
        }

        .number {
            color: var(--theme);
        }

        .text {
            color: var(--theme);
        }
    }

    .icon {
        width: 80px;
        height: 80px;
        background-color: var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        outline: 6px solid #FA5E07;
        transition: all 0.3s;
    }

    .content {
        background-color: var(--white);
        border-radius: 10px;
        padding: 22px 15px 23px 54px;
        transition: all 0.3s;

    }

    .number {
        font-weight: 700;
        font-size: 66px;
        line-height: 1;
        transition: all 0.3s;

        @media #{$xxl} {
            font-size: 56px;
        }

        @media #{$lg} {
            font-size: 46px;
        }

        @media #{$sm} {
            font-size: 36px;
        }

        .odometer.odometer-auto-theme,
        .odometer.odometer-theme-default {
            font-family: var(--font_unbounded);
            line-height: 1;
            display: inline-flex;
            vertical-align: baseline;
        }

        .odometer-inside {
            display: inline-flex;
        }
    }

    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-transform: capitalize;
        margin-top: -2px;
        transition: all 0.3s;
    }
}