/* error css */
/* error area style  */
.error-wrapper-box {
    text-align: center;



    .section-title-wrapper {
        margin-top: 51px;
    }

    .text-wrapper {
        margin-top: 12px;
    }

    .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        max-width: 641px;
        text-transform: capitalize;
        margin-inline: auto;
    }

    .btn-wrapper {
        margin-top: 21px;
    }

}