/* feature css */
/* feature area style  */
.feature-area {
    position: relative;
    z-index: 1;
}

.feature-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        top: 0;
        left: 0;
        opacity: 0.7;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.feature-content {
    .section-subtitle {
        color: var(--white);
    }

    .title-wrapper {
        margin-top: 18px;
    }

    .section-title {
        max-width: 510px;
        color: var(--white);
    }
}

.feature-wrapper-box {
    margin-top: 45px;
}

.feature-wrapper {
    margin-left: calc((-100% - 60px) / 3);
    margin-right: calc((100% - 60px) / 3);
}

.feature-box {
    position: relative;
    z-index: 1;
    background-color: var(--white);
    padding: 40px 40px 32px;

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .thumb {
        width: 80px;
        height: 80px;
        background-color: var(--theme);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .content {
        margin-top: 23px;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-transform: capitalize;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-top: 15px;
    }

}

.feature-nav-wrapper {
    margin-top: 60px;

    @media #{$xxl} {
        margin-top: 40px;

    }

    .swiper-pagination-bullets {
        display: flex;
        gap: 10px;
        justify-content: center;


        .swiper-pagination-bullet {
            width: 20px;
            height: 12px;
            background-color: var(--white);
            border-radius: 3px;
            opacity: 0.4;
            margin: 0;

            &.swiper-pagination-bullet-active {
                opacity: 1;
                width: 30px;
            }
        }
    }
}

.feature-info-wrapper-box {
    width: 900px;
    height: 100%;
    position: absolute;
    content: "";
    z-index: 0;
    bottom: 0;
    right: 0;
    overflow-y: clip;
}

.feature-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    >* {
        &:nth-child(3) {
            grid-column: span 2;
        }
    }
}

.feature-review-box {
    background-color: var(--theme);
    padding: 33px 30px 42px;
    text-align: center;

    @media #{$xl} {
        padding: 141px 20px 43px;

    }

    @media #{$md} {
        padding: 41px 20px 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rating {
        font-weight: 700;
        font-size: 50px;
        line-height: 1.14;
        text-transform: capitalize;
        color: var(--white);

        @media #{$xxl} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 30px;
        }
    }

    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.37;
        text-align: center;
        text-transform: capitalize;
        color: var(--white);
        margin-top: 10px;
        max-width: 236px;
        margin-inline: auto;

        @media #{$lg} {
            font-size: 14px;
        }
    }

    .underline {
        width: 82px;
        height: 2px;
        background-color: var(--white);
        display: inline-block;
        margin-top: 25px;
    }


    .client-group {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        img {
            width: 60px;
            height: 60px;
            border: 2px solid var(--white);
            border-radius: 50%;

            @media #{$xxl} {
                width: 50px;
                height: 50px;
            }
        }

        >*:not(:first-child) {
            margin-left: -30px;

            @media #{$xxl} {
                margin-left: -25px;
            }
        }

        .group-more {
            width: 60px;
            height: 60px;
            border: 2px solid var(--white);
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: var(--white);

            @media #{$xxl} {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.feature-cta-box {
    text-align: center;
    padding: 80px 20px 80px;

    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-transform: capitalize;
        color: var(--white);
        margin-top: 13px;
    }

    .btn-wrapper {
        margin-top: 13px;
    }

    .cta-btn {
        font-family: var(--font_unbounded);
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-transform: capitalize;
        color: var(--white);
        display: inline-flex;
        align-items: center;
        gap: 11px;
    }

}


.feature-info-image {
    position: relative;
    height: 100%;

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}