/* footer css */
/* footer area style  */
.footer-newsletter-box {
    background-color: var(--theme);
    position: relative;
}

.newsletter-shape-1 {
    position: absolute;
    width: 240px;
    height: 100%;
    left: 0;
    top: 0;
    mask-image: url(../imgs/shape/shape-9.png);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.newsletter-shape-2 {
    position: absolute;
    width: 240px;
    height: 100%;
    right: 0;
    top: 0;
    mask-image: url(../imgs/shape/shape-10.png);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.footer-newsletter-wrapper {
    padding-top: 50px;
    padding-bottom: 48px;
    display: grid;
    gap: 30px 60px;
    grid-template-columns: 1fr 548px;

    @media #{$lg} {
        grid-template-columns: 1fr 448px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.footer-newsletter-content {
    padding-left: 40px;


    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.28;
        text-transform: capitalize;
        color: var(--white);
        max-width: 560px;

        @media #{$lg} {
            font-size: 24px;

        }

        @media #{$sm} {
            font-size: 20px;
        }
    }


}

.footer-newsletter-form {
    margin-top: 17px;
}

.footer-subscribe-form {
    width: 100%;

    .input-field {
        display: grid;
        gap: 20px 15px;
        grid-template-columns: 1fr auto;
        align-items: center;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        input {
            border: none;
            outline: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: var(--black);
            width: 100%;
            padding: 15px 23px;

            &::placeholder {
                color: var(--secondary);
            }
        }

        .ui-btn {
            padding: 18px 23px;
            background-color: var(--black);
        }
    }
}

.footer-bottom-area {
    position: relative;
    z-index: 1;
}

.footer-bottom-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--black);
        opacity: 0.8;
        top: 0;
        left: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.footer-main-inner {
    display: grid;
    gap: 40px 60px;
    grid-template-columns: 384px 1fr;
    padding-bottom: 70px;
}

.footer-widget-wrapper {
    padding-top: 54px;
    display: grid;
    gap: 50px 60px;
    grid-template-columns: auto auto 285px;
    justify-content: space-between;

    @media #{$lg} {
        grid-template-columns: 1fr 1fr;

    }

    @media #{$sm} {
        grid-template-columns: 1fr;

    }

}

.footer-social-box {
    background-color: var(--theme);
    padding: 40px 40px 40px;

    .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        color: var(--white);
        margin-top: 24px;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        margin-top: 17px;
    }
}

.footer-social {
    margin-top: 17px;

    .social-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        color: var(--white);
    }
}

.footer-social-links {
    margin-top: 10px;
    display: flex;
    gap: 7px;
    align-items: center;

    a {
        width: 40px;
        height: 40px;
        background-color: var(--white);
        font-size: 16px;
        color: var(--theme);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: var(--white);
            background-color: var(--black);
        }
    }
}

.footer-meta-box {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    position: relative;
    padding-top: 62px;
    padding-bottom: 60px;
    display: flex;
    gap: 30px 30px;
    flex-wrap: wrap;

    .meta-shape-1 {
        position: absolute;
        right: -29px;
        bottom: -1px;
    }
}


.footer-meta-item {
    display: flex;
    gap: 10px 20px;
    align-items: center;

    .icon {
        width: 50px;
        height: 50px;
        border: 1px solid var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
    }

    .contact {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        color: var(--white);
        margin-top: 4px;

        a:hover {
            color: var(--white-2);
        }
    }
}


.footer-widget-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--white);
    position: relative;
    padding-bottom: 18px;

    &:after {
        position: absolute;
        content: "";
        width: 92px;
        height: 3px;
        left: 0;
        bottom: 0;
        background: linear-gradient(90deg, #FA5E07 45.67%, rgba(148, 56, 4, 0.5) 100%);
        border-radius: 2px;
    }
}


.footer-nav-list {
    margin-top: 25px;
    display: grid;
    gap: 10px;

    li {
        list-style: none;

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: var(--white);
            display: flex;
            gap: 6px;
            align-items: center;

            &:hover {
                color: var(--white-2);
            }

            i {
                font-size: 12px;
            }
        }
    }
}

.footer-gallery-wrapper-box {
    margin-top: 30px;
}

.footer-gallery-wrapper {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);

    .thumb {
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}


.copyright-area-inner {
    display: grid;
    gap: 10px 60px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);

    @media #{$md} {
        grid-template-columns: auto;
        justify-content: center;
    }
}

.copyright-text {
    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);

        a {
            color: var(--theme);

            &:hover {
                color: var(--white-2);
            }
        }
    }
}


.copyright-link {
    display: flex;
    gap: 5px 16px;
    flex-wrap: wrap;

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        display: inline-block;

        &:hover {
            color: var(--white-2);
        }
    }

    .slash {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
    }
}