/* header css */
/* header area style  */
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header-main {
        background-color: var(--primary);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header-main-inner {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        height: 106px;
        z-index: 1;

        @media #{$xxl} {
            height: 90px;
        }

        @media #{$lg} {
            height: 80px;

        }
    }

    .header-main-bg {
        position: absolute;
        height: 100%;
        width: max-content;
        top: 0;
        right: calc(100% - 300px);
        z-index: -1;

        @media #{$sm} {
            right: calc(100% - 200px);
        }

        img {
            height: 100%;
        }

        &:before {
            position: absolute;
            content: "";
            width: 5000px;
            height: 100%;
            top: 0;
            right: 100%;
            background-color: var(--theme);
        }
    }


    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .header-logo {
        margin-right: auto;

        img {
            width: 288px;

            @media #{$lg} {
                width: 258px;
            }

            @media #{$sm} {
                width: 228px;
            }
        }
    }

    .header-nav {
        margin-right: 110px;
    }

    .main-menu {

        >ul {
            display: flex;
            gap: 30px;

            >li {

                &:hover {
                    >a {
                        color: var(--white);
                        background-image: linear-gradient(180.12deg, rgba(4, 34, 62, 0.12) 0.11%, rgba(250, 94, 7, 0.52) 114.15%);
                        border-color: 3px solid #FA5E07;
                    }

                }

                >a {
                    border-top: 3px solid transparent;

                }
            }
        }


        li a {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            padding: 41px 24px;
            background-color: transparent;
            color: var(--white);

        }
    }

    .search-box {
        width: 60px;
        height: 60px;
        border: 1px dashed var(--theme);
        border-radius: 50%;
        color: var(--white);
        font-size: 18px;
    }

    .cart-box {
        width: 60px;
        height: 60px;
        background-color: var(--theme);
        border-radius: 50%;
        color: var(--white);
        font-size: 18px;
        position: relative;
    }

    .cart-item {
        width: 20px;
        height: 20px;
        background-color: #282626;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--theme);
    }

    .header-offcanvas {
        display: none;

        @media #{$md} {
            display: inline-block;
        }
    }

    .side-toggle {
        width: 50px;
        height: 50px;
        background-color: #F4F0FE;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 700;
        color: var(--action);
        transition: all 0.3s;

        &:hover {
            background-color: var(--action);
            color: var(--white);
        }


    }
}