/* hero css */
/* hero area style  */
.hero-area {
    position: relative;
    z-index: 1;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--black);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
    }
}

.hero-area-inner {
    padding-top: 318px;
    padding-bottom: 224px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$xxl} {
        padding-top: 218px;
        padding-bottom: 124px;
    }

    @media #{$xl} {
        padding-top: 198px;
        padding-bottom: 104px;

    }

    @media #{$lg} {
        min-height: auto;
    }
}

.hero-image-1 {
    position: absolute;
    max-width: 564px;
    max-height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;

    @media #{$xxl} {
        max-width: 424px;
    }

    @media #{$xl} {
        max-width: 374px;
    }

    @media #{$lg} {
        max-width: 334px;
    }

    @media #{$md} {
        display: none;
    }
}

.hero-shape-1 {
    width: 400px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-image: linear-gradient(180deg, rgba(148, 56, 4, 0) 0%, rgba(196, 74, 5, 0.28) 5.53%, #FA5E07 100%);
    z-index: 0;

    @media #{$xxl} {
        width: 300px;
    }

    @media #{$lg} {
        width: 250px;

    }

    @media #{$md} {
        display: none;
    }
}

.hero-shape-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.12;
    z-index: 1;
    width: max-content;
}

.hero-shape-3 {
    position: absolute;
    bottom: 0;
    left: 757px;
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;

    .section-subtitle {
        justify-content: center;
    }

    .title-wrapper {
        margin-top: 17px;
    }

    .btn-wrapper {
        margin-top: 27px;
    }
}



.hero-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.14;
    text-transform: capitalize;
    color: var(--white);
    max-width: 720px;
    margin-inline: auto;

    @media #{$xxl} {
        font-size: 60px;
    }

    @media #{$xl} {
        font-size: 50px;
        max-width: 620px;
    }

    @media #{$lg} {
        font-size: 40px;
        max-width: 420px;
    }

    @media #{$xs} {
        font-size: 30px;
        max-width: 330px;
    }
}

.hero-review-sidebar {
    width: 400px;
    height: 100%;
    position: absolute;
    content: "";
    z-index: 0;
    bottom: 0;
    right: 0;
    overflow-y: clip;
    display: grid;

    @media #{$xxl} {
        width: 300px;
    }

    @media #{$lg} {
        width: 250px;
    }

    @media #{$md} {
        position: static;
        width: 100%;
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;

    }
}

.hero-review-box {
    background-image: linear-gradient(360deg, rgba(250, 94, 7, 0.85) 0%, rgba(238, 123, 58, 0.15) 100%);
    padding: 171px 30px 73px;
    text-align: center;

    @media #{$xl} {
        padding: 141px 20px 43px;

    }

    @media #{$md} {
        padding: 41px 20px 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rating {
        font-weight: 700;
        font-size: 50px;
        line-height: 1.14;
        text-transform: capitalize;
        color: var(--white);

        @media #{$xxl} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 30px;
        }
    }

    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.37;
        text-align: center;
        text-transform: capitalize;
        color: var(--white);
        margin-top: 10px;
        max-width: 236px;
        margin-inline: auto;

        @media #{$lg} {
            font-size: 14px;
        }
    }

    .underline {
        width: 82px;
        height: 2px;
        background-color: var(--white);
        display: inline-block;
        margin-top: 25px;
    }


    .client-group {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        img {
            width: 60px;
            height: 60px;
            border: 2px solid var(--white);
            border-radius: 50%;

            @media #{$xxl} {
                width: 50px;
                height: 50px;
            }
        }

        >*:not(:first-child) {
            margin-left: -30px;

            @media #{$xxl} {
                margin-left: -25px;
            }
        }

        .group-more {
            width: 60px;
            height: 60px;
            border: 2px solid var(--white);
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: var(--white);

            @media #{$xxl} {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.hero-review-image {
    position: relative;
    height: 100%;

    .circle-text {
        width: 190px;
        height: 190px;
        position: absolute;
        left: -98px;
        top: -61px;

        @media #{$xxl} {
            width: 150px;
            height: 150px;
        }

        @media #{$md} {
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            content: "";
            width: 118px;
            height: 118px;

            @media #{$xxl} {
                width: 98px;
                height: 98px;
            }
        }

        .text {
            padding: 12px;

            @media #{$xxl} {
                padding: 7px;
            }
        }
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}