/* project css */
/* project area style  */
.project-header {
    text-align: center;

    .section-subtitle {
        justify-content: center;
    }

    .title-wrapper {
        margin-top: 11px;
    }

    .section-title {
        max-width: 600px;
        margin-inline: auto;
    }
}

.projects-wrapper-box {
    margin-top: 43px;
}

.projects-wrapper {
    .swiper {
        margin-right: calc((100vw - (var(--container-max-widths) - 30px)) / -2);

        @media #{$lg} {
            margin-right: 0;
        }
    }
}

.project-nav-wrapper {
    margin-top: 60px;
    display: grid;
    gap: 20px 30px;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;

    @media #{$lg} {
        margin-top: 40px;
    }

    .border-line {
        width: 100%;
        height: 1px;
        background-color: var(--border);
    }
}

.project-pagination {
    width: auto;
    display: flex;
    align-items: center;
    gap: 4px;

    .swiper-pagination-current {
        font-family: var(--font_unbounded);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        display: inline-block;
        color: var(--theme);
    }

    .mid-line {
        display: inline-block;
        color: var(--border);
    }

    .swiper-pagination-total {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        display: inline-block;
        color: var(--secondary);
    }
}

.project-nav-button {
    width: 56px;
    height: 56px;
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s;
    font-size: 18px;
    color: var(--theme);

    @media #{$lg} {
        width: 46px;
        height: 46px;
        font-size: 16px;
    }

    &:hover {
        background-color: var(--theme);
        border-color: transparent;
        color: var(--white);
    }

    &.swiper-button-disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

.project-nav {
    display: flex;
    align-items: center;
    gap: 16px;

    @media #{$lg} {
        gap: 10px;
    }
}



.project-box {
    position: relative;

    &:hover {
        .content-wrapper {
            opacity: 1;
        }
    }

    .thumb {
        img {
            width: 100%;
        }
    }

    .content-wrapper {
        position: absolute;
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        top: 25px;
        left: 25px;
        background-color: var(--theme);
        outline: 3px solid rgba(255, 255, 255, 0.9);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        opacity: 0;
        transition: all 0.5s;

        @media #{$md} {
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            top: 15px;
            left: 15px;
        }
    }

    .btn-wrapper {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    .view-details {
        width: 120px;
        height: 120px;
        background: var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 30px;
        color: var(--theme);

        @media #{$xxl} {
            width: 80px;
            height: 80px;
            font-size: 20px;
        }
    }

    .content {
        background-color: var(--white);
        margin: 0 55px 0;
        border-radius: 10px 10px 0 0;
        padding: 27px 20px 20px;

        @media #{$xxl} {
            margin: 0 25px 0;

        }

        @media #{$md} {
            margin: 0 15px 0;
            padding: 12px 10px 10px;
        }

    }

    .company-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--theme);
    }


    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
        text-transform: capitalize;
        margin-top: 6px;

        @media #{$xxl} {
            font-size: 20px;
        }

        @media #{$md} {
            font-size: 18px;
        }
    }
}

/* project-details area style  */
.project-details {
    .thumb {
        border-radius: 30px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .meta-box {
        margin-top: -144px;
        max-width: 1012px;
        margin-inline: auto;
        background-color: var(--theme);
        border-radius: 20px;
        position: relative;
        padding: 30px 40px 36px;

        @media #{$lg} {
            margin-top: 30px;
        }

        @media #{$sm} {
            padding: 20px 20px 16px;
        }

        .project-title {
            color: var(--white);
        }

        .project-title+.text-wrapper {
            margin-top: 13px;
        }

        .text {
            color: var(--white);
        }

        .meta-list {
            margin-top: 27px;
            column-count: 3;

            @media #{$lg} {
                column-count: 2;
            }

            @media #{$sm} {
                column-count: auto;
            }
        }




        .meta-item {
            display: grid;
            gap: 0px 30px;
            grid-template-columns: 140px auto;
            align-items: center;

            @media #{$xs} {
                grid-template-columns: auto;
            }

            &:not(:first-child) {
                margin-top: 19px;
            }

            .title {
                font-family: var(--font_unbounded);
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                text-transform: capitalize;
                color: var(--white);
                display: inline-block;

                @media #{$lg} {
                    font-size: 18px;
                }
            }

            .info {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: var(--white);
                display: inline-block;
            }
        }
    }

    .project-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.28;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 30px;
        }

        @media #{$sm} {
            font-size: 24px;
        }
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    .feature-list {
        li {
            list-style: none;
            display: flex;
            gap: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;

            &:not(:first-child) {
                margin-top: 12px;
            }

            .icon {
                width: 18px;
                min-width: 18px;
                height: 18px;
                background-color: var(--theme);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--white);
                font-size: 10px;
                margin-top: 3px;
            }
        }

    }


    .gallery-wrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$xxl} {
            gap: 20px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        img {
            border-radius: 20px;
            width: 100%;
        }

    }

    .meta-box+.text-wrapper {
        margin-top: 52px;
    }

    .project-title+.text-wrapper {
        margin-top: 23px;
    }

    .text-wrapper+.project-title {
        margin-top: 43px;
    }

    .text-wrapper+.feature-list {
        margin-top: 23px;
    }

    .text-wrapper+.gallery-wrapper {
        margin-top: 53px;
    }

    .gallery-wrapper+.text-wrapper {
        margin-top: 52px;
    }

}