/* service css */
/* service area style  */
.service-area {
    position: relative;
    z-index: 1;
}

.service-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--smoke);
        top: 0;
        left: 0;
        opacity: 0.7;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.service-header {
    text-align: center;

    .section-subtitle {
        justify-content: center;
    }

    .title-wrapper {
        margin-top: 11px;
    }

    .section-title {
        max-width: 760px;
        margin-inline: auto;
    }
}

.services-wrapper-box {
    margin-top: 43px;
}

.services-wrapper {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.service-box {
    .thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        background-color: var(--white);
        margin: -120px 30px 0;
        position: relative;
        padding: 30px 30px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);

        @media #{$lg} {
            margin: -40px 10px 0;
            padding: 10px 10px;
        }
    }

    .title-wrapper {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .icon {
        width: 70px;
        height: 70px;
        background-color: var(--theme);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @media #{$lg} {
            width: 60px;
            height: 60px;
        }
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 20px;

        }

    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--primary);
        margin-top: 22px;
    }

    .btn-wrapper {
        border-top: 1.5px dashed #9A9A9A;
        padding-top: 25px;
        margin-top: 18px;
    }
}

.services-btn-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px 0;
    align-items: center;
    flex-wrap: wrap;

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        background: var(--white);
        border: 1px dashed #D8DDE1;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
        border-right: 0;
        padding: 13px 19px 15px;
        color: var(--primary);
    }

    .ui-btn {
        padding: 18px 31px;
    }
}


/* service-details area style  */
.service-details-area-inner {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 420px;

    @media #{$lg} {
        grid-template-columns: 1fr 370px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.service-details-wrapper {
    padding: 40px 40px 36px;
    background-color: var(--smoke);
    border-radius: 20px;

    @media #{$xxl} {
        padding: 30px 30px 26px;
    }

    @media #{$sm} {
        padding: 20px 20px 16px;
    }
}

.service-details {
    .thumb {
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .content {
        margin-top: 30px;
    }

    .service-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.28;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 30px;
        }

        @media #{$sm} {
            font-size: 24px;
        }
    }

    .title-line {
        display: flex;
        gap: 10px;
        overflow: hidden;

        span {
            width: 40px;
            height: 10px;
            background-color: var(--theme);
            display: inline-block;
            transform: skewX(45deg);

            @media #{$sm} {
                height: 5px;

            }

            &:nth-child(1) {
                margin-left: -10px;
            }

            &:nth-child(2) {
                width: 60px;
            }
        }
    }


    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    .feature-list {
        li {
            list-style: none;
            display: flex;
            gap: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;

            &:not(:first-child) {
                margin-top: 12px;
            }

            .icon {
                width: 18px;
                min-width: 18px;
                height: 18px;
                background-color: var(--theme);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--white);
                font-size: 10px;
                margin-top: 3px;
            }
        }

        &.column-2 {
            column-count: 2;
            gap: 110px;

            @media #{$lg} {
                column-count: auto;
            }
        }
    }


    .gallery-wrapper {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;

        @media #{$xxl} {
            gap: 20px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        img {
            border-radius: 20px;
            width: 100%;
        }

    }

    .service-title-2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 24px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }

    .service-title+.text-wrapper {
        margin-top: 13px;
    }

    .text-wrapper+.service-title {
        margin-top: 33px;
    }

    .text-wrapper+.feature-list {
        margin-top: 19px;
    }

    .feature-list+.gallery-wrapper {
        margin-top: 56px;
    }

    .gallery-wrapper+.service-title-2 {
        margin-top: 54px;
    }

    .service-title-2+.text-wrapper {
        margin-top: 35px;
    }

    .service-title+.title-line {
        margin-top: 21px;
    }

    .title-line+.text-wrapper {
        margin-top: 32px;
    }
}

.service-sidebar-wrapper {
    display: grid;
    gap: 30px;
}

.sidebar-category-box {
    background-color: var(--smoke);
    padding: 40px 40px 40px;
    border-radius: 20px;

    @media #{$xxl} {
        padding: 30px 30px 30px;
    }

    @media #{$sm} {
        padding: 20px 20px 20px;
    }

    .sidebar-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 24px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }

    .title-line {
        display: flex;
        gap: 5px;
        overflow: hidden;

        span {
            width: 40px;
            height: 4px;
            background-color: var(--theme);
            display: inline-block;
            transform: skewX(45deg);

            @media #{$sm} {
                height: 3px;

            }

            &:nth-child(1) {
                margin-left: -4px;
            }

            &:nth-child(2) {
                width: 16px;
            }
        }
    }

    .sidebar-category-list {
        margin-top: 30px;
        display: grid;
        gap: 20px;

        @media #{$lg} {
            gap: 10px;
        }


        li {
            list-style: none;

            a {
                font-family: var(--font_unbounded);
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-transform: capitalize;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--black);
                background-color: var(--white);
                padding: 10px 10px 10px 25px;
                border-radius: 50px;

                .icon {
                    width: 40px;
                    height: 40px;
                    background-color: var(--theme);
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--white);
                    border-radius: 50%;
                }
            }

        }
    }


    .sidebar-title+.title-line {
        margin-top: 15px;
    }
}

.sidebar-newsletter-box {
    background-color: var(--theme);
    padding: 40px 40px 40px;
    border-radius: 20px;

    @media #{$xxl} {
        padding: 30px 30px 30px;
    }

    @media #{$sm} {
        padding: 20px 20px 20px;
    }

    .sidebar-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-transform: capitalize;
        color: var(--white);

        @media #{$lg} {
            font-size: 24px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }

    .title-line {
        display: flex;
        gap: 5px;
        overflow: hidden;

        span {
            width: 40px;
            height: 4px;
            background-color: var(--white);
            display: inline-block;
            transform: skewX(45deg);

            @media #{$sm} {
                height: 3px;

            }

            &:nth-child(1) {
                margin-left: -4px;
            }

            &:nth-child(2) {
                width: 16px;
            }
        }
    }

    .sidebar-title+.title-line {
        margin-top: 15px;
    }

    .sidebar-newsletter-wrapper {
        margin-top: 22px;
    }

    .sidebar-newsletter-content {
        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: var(--white);
        }
    }


    .sidebar-newsletter-form {
        margin-top: 23px;
        width: 100%;

        .input-field {

            input {
                border: none;
                outline: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: var(--black);
                width: 100%;
                padding: 18px 30px;
                border-radius: 30px;


                &::placeholder {
                    color: var(--secondary);
                }
            }

            .ui-btn {
                padding: 13px 30px;
                background-color: var(--black);
                border-color: transparent;
                font-size: 16px;
                line-height: 22px;
                border-radius: 30px;
                margin-top: 20px;
            }
        }
    }

}