/* service css */
/* service area style  */
.service-area {
    position: relative;
    z-index: 1;
}

.service-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--smoke);
        top: 0;
        left: 0;
        opacity: 0.7;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.service-header {
    text-align: center;

    .section-subtitle {
        justify-content: center;
    }

    .title-wrapper {
        margin-top: 11px;
    }

    .section-title {
        max-width: 760px;
        margin-inline: auto;
    }
}

.services-wrapper-box {
    margin-top: 43px;
}

.services-wrapper {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.service-box {
    .thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        background-color: var(--white);
        margin: -120px 30px 0;
        position: relative;
        padding: 30px 30px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);

        @media #{$lg} {
            margin: -40px 10px 0;
            padding: 10px 10px;
        }
    }

    .title-wrapper {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .icon {
        width: 70px;
        height: 70px;
        background-color: var(--theme);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @media #{$lg} {
            width: 60px;
            height: 60px;
        }
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 20px;

        }

    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--primary);
        margin-top: 22px;
    }

    .btn-wrapper {
        border-top: 1.5px dashed #9A9A9A;
        padding-top: 25px;
        margin-top: 18px;
    }
}

.services-btn-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px 0;
    align-items: center;
    flex-wrap: wrap;

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        background: var(--white);
        border: 1px dashed #D8DDE1;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
        border-right: 0;
        padding: 13px 19px 15px;
        color: var(--primary);
    }

    .ui-btn {
        padding: 18px 31px;
    }
}