/* team css */
/* team area style  */
.team-header {
    display: grid;
    gap: 30px 60px;
    grid-template-columns: 1fr auto;
    align-items: flex-end;

    @media #{$md} {
        grid-template-columns: 1fr;

    }

    .title-wrapper {
        margin-top: 11px;
    }

    .section-title {
        max-width: 680px;
    }
}

.team-wrapper-box {
    margin-top: 50px;
}

.team-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.team-box {
    position: relative;

    clip-path: polygon(0 0, calc(100% - 70px) 0, 100% 70px, 100% 100%, 0 100%);

    &:hover {
        .thumb {
            border-color: var(--theme);
        }

        .content {
            background-color: var(--theme);
        }

        .name {
            color: var(--white);
        }

        .post {
            color: var(--white);
        }

        .social {
            .share-icon {
                background-color: var(--primary);
            }
        }

    }

    .thumb {
        border: 1px solid var(--border);
        padding: 19px 0 19px 19px;
        border-right: 0;
        margin-bottom: 25px;
        transition: all 0.5s;


        @media #{$lg} {
            padding: 9px 0 9px 9px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .content {
        background-color: var(--smoke);
        position: absolute;
        width: calc(100% - 19px);
        bottom: 0;
        right: 0;
        padding: 24px 20px 23px;
        transition: all 0.5s;

        @media #{$lg} {
            padding: 14px 10px 13px;
        }
    }

    .name {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.3;
        text-transform: capitalize;
        transition: all 0.3s;

        @media #{$lg} {
            font-size: 18px;
        }

        a {
            transition: none;

        }
    }

    .post {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        display: inline-block;
        color: var(--theme);
        margin-top: 5px;
        transition: all 0.5s;
    }

    .social {
        position: absolute;
        bottom: 28px;
        right: 20px;
        z-index: 1;

        @media #{$lg} {
            bottom: 18px;
            right: 10px;
        }

        &:hover {
            .social-link {
                transform: translateX(-50%) scale(1);
                opacity: 1;
                bottom: calc(100% + 8px);
            }
        }

        .social-link {
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scale(0.2);
            transform-origin: bottom;
            opacity: 0;
            transition: all 0.5s;

            a {
                width: 35px;
                height: 35px;
                background-color: var(--white);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--theme);

                &:hover {
                    background-color: var(--theme);
                    color: var(--white);
                }
            }

        }

        .share-icon {
            width: 35px;
            height: 35px;
            background-color: var(--theme);
            color: var(--white);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s;
        }
    }

}

/* team-details area styly  */
.team-details-area-inner {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 420px;

    @media #{$lg} {
        grid-template-columns: 1fr 370px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.team-details-wrapper {
    padding: 34px 40px 40px;
    background-color: var(--smoke);
    border-radius: 20px;

    @media #{$xxl} {
        padding: 24px 30px 30px;
    }

    @media #{$sm} {
        padding: 14px 20px 20px;
    }
}

.team-details {
    .team-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 24px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }


    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    .feature-list {
        li {
            list-style: none;
            display: flex;
            gap: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;

            &:not(:first-child) {
                margin-top: 12px;
            }

            .icon {
                width: 18px;
                min-width: 18px;
                height: 18px;
                background-color: var(--theme);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--white);
                font-size: 10px;
                margin-top: 3px;
            }
        }
    }

    .progress-wrapper-box {
        margin-top: 25px;
    }

    .progress-wrapper {
        display: grid;
        gap: 22px;
    }


    .progress-box {
        .progress-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;


            span {
                float: right;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: var(--secondary);
                display: inline-block;
            }
        }

        .progress-category {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            display: inline-block;
        }

        .progress {
            height: 12px;
            background-color: var(--white);
            border-radius: 10px;
            border: 1px solid var(--theme);
            padding: 2px;
        }

        .progress-bar {
            background-color: var(--theme);
            border-radius: 10px;
        }
    }

    .team-title+.text-wrapper {
        margin-top: 15px;
    }

    .text-wrapper+.team-title {
        margin-top: 27px;
    }

    .feature-list+.team-title {
        margin-top: 25px;
    }

    .progress-wrapper-box+.team-title {
        margin-top: 34px;
    }

    .text-wrapper+.feature-list {
        margin-top: 19px;
    }

    .team-contact-wrap {
        margin-top: 25px;

        .submit-btn {
            margin-top: 32px;
        }
    }

    .contact-formwrap {
        display: grid;
        gap: 22px 32px;
        grid-template-columns: repeat(2, 1fr);

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);

        }

        .span-2 {
            grid-column: span 2;

            @media #{$sm} {
                grid-column: auto;
            }
        }

    }

    .contact-formfield {
        background-color: transparent;

        input {
            width: 100%;
            border: none;
            outline: none;
            color: var(--black);
            transition: all 0.5s;
            background: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--border);

            &:focus {
                background-color: none;
            }

            &::placeholder {
                color: var(--secondary);
            }

        }

        textarea {
            width: 100%;
            height: 139px;
            border: none;
            outline: none;
            color: var(--black);
            transition: all 0.5s;
            background: none;
            resize: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--border);

            &:focus {
                background-color: none;
            }

            &::placeholder {
                color: var(--secondary);
            }

        }


        select {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            color: var(--secondary);
            transition: all 0.5s;
            background: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--border);


            &:focus {
                background-color: none;
            }

            &::placeholder {
                color: var(--secondary);
            }

        }

        .nice-select {
            height: 50px;
            width: 100%;
            padding: 0;
            border: 0;
            background: none;
            border-bottom: 1px solid var(--border);


            .current {
                height: 50px;
                display: block;
                color: var(--secondary);
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 23px;
            }

            .option {
                height: 40px;
                line-height: 40px;
                display: block;
                color: var(--black);
                font-weight: 500;
                font-size: 16px;
            }

            &:after {
                display: none;
            }
        }
    }

}

.team-sidebar-info-box {
    padding: 30px 30px;
    background-color: var(--smoke);
    border-radius: 20px;

    @media #{$sm} {
        padding: 20px 20px;
    }

    .thumb {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .meta-list {
        margin-top: 34px;
    }

    .meta-item {
        &:not(:first-child) {
            border-top: 1px solid rgba(216, 221, 225, 1);
            padding-top: 15px;
            margin-top: 13px;
        }

        .name {
            font-size: 30px;
            line-height: 1.2;
            text-transform: capitalize;
        }

        .title {
            font-family: var(--font_unbounded);
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-transform: capitalize;
            color: var(--black);
            display: block;
        }

        .info {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            display: block;
            margin-top: 7px;
        }

        .name+.info {
            margin-top: 5px;
        }
    }

    .social-link {
        margin-top: 15px;
        display: flex;
        gap: 9px;

        a {
            width: 36px;
            height: 36px;
            border: 1px solid var(--border);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--primary);
            border-radius: 50%;

            &:hover {
                color: var(--white);
                border-color: transparent;
                background-color: var(--theme);
            }
        }
    }


}