/* text-slider css */
/* text-slider area style  */
.text-slider-active {
    background-color: var(--theme);
    padding-top: 24px;
    padding-bottom: 20px;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.text-slider-item {
    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-transform: capitalize;
        color: var(--white);
        display: flex;
        gap: 35px;
        align-items: center;
        margin-left: 15px;
    }
}

/* text-slider-2 area style  */
.text-slider-2-active {
    background-color: var(--primary);
    direction: rtl;
    padding-top: 21px;
    padding-bottom: 23px;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}


/* text-slider-3 area style  */
.text-slider-3-wrapper-box {
    margin-top: 145px;
    margin-bottom: 7px;

    @media #{$lg} {
        margin-top: 45px;
    }
}

.text-slider-3-active {

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.text-slider-3-item {
    .title {
        font-weight: 700;
        font-size: 50px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--white);
        opacity: 0.15;
        margin-left: 15px;

        @media #{$xxl} {
            font-size: 45px;
        }

        @media #{$xl} {
            font-size: 40px;
        }

        @media #{$lg} {
            font-size: 36px;
        }

        @media #{$md} {
            font-size: 34px;
        }

        @media #{$sm} {
            font-size: 32px;
        }

        @media #{$xs} {
            font-size: 28px;
        }
    }
}

/* text-slider-4 area style  */
.text-slider-4-active {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: visible;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.text-slider-4-item {
    .title {
        font-weight: 500;
        font-size: 66px;
        line-height: 0.6;
        opacity: 0.8;
        -webkit-text-stroke: 2px #444444;
        color: var(--white);
        text-transform: capitalize;
        display: flex;
        gap: 40px;
        align-items: center;
        margin-left: 5px;
        transition: all 0.3s;

        @media #{$xxl} {
            font-size: 56px;
            gap: 30px;

        }

        @media #{$lg} {
            font-size: 46px;
            gap: 20px;

        }

        &.st-width-1 {
            -webkit-text-stroke-width: 1px;
        }

        &:hover {
            color: var(--theme);
            opacity: 1;
            -webkit-text-stroke-color: var(--theme);
        }
    }
}

/* text-slider-5 area style  */
.text-slider-5-wrapper-box {
    margin-top: 46px;
    margin-bottom: 46px;

    @media #{$lg} {
        margin-top: 26px;
        margin-bottom: 26px;
    }
}

.text-slider-5-active {

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.text-slider-5-item {
    .title {
        font-weight: 700;
        font-size: 96px;
        line-height: 0.83;
        color: var(--white);
        margin-left: 2rem;

        @media #{$xxl} {
            font-size: 76px;
        }

        @media #{$xl} {
            font-size: 66px;
        }

        @media #{$lg} {
            font-size: 56px;
        }

        @media #{$md} {
            font-size: 46px;
        }

        @media #{$sm} {
            font-size: 32px;
        }

        @media #{$xs} {
            font-size: 28px;
        }
    }
}


/* text-slider-6 area style  */
.text-slider-6-active {

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.text-slider-6-item {
    .title {
        font-weight: 700;
        font-size: 124px;
        line-height: 0.8;
        text-transform: uppercase;
        color: var(--white);
        margin-left: 2rem;

        @media #{$xxl} {
            font-size: 76px;
        }

        @media #{$xl} {
            font-size: 66px;
        }

        @media #{$lg} {
            font-size: 56px;
        }

        @media #{$md} {
            font-size: 46px;
        }

        @media #{$sm} {
            font-size: 32px;
        }

        @media #{$xs} {
            font-size: 28px;
        }
    }
}